/*Pooler22 copyright. All right reserved*/
#map {
    top: 64px;
    position: absolute;
}

html,
body {
    height: 100%;
    background-color: #fff;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
 * Layout CSS
 */

.map {
    padding-left: 0;
    padding-right: 0;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
}

#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    left: -300px;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.2s;
}

#content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0;
    transition: margin-left 0.2s;

    /* sticky bottom */
    margin-bottom: -160px;
    padding-bottom: 160px;
}

#footer {
    height: 160px;
    margin-left: 0;
    transition: margin-left 0.2s;
}

@media (min-width: 768px) {
    #header {
        left: 300px;
    }

    #sidedrawer {
        transform: translate(300px);
    }

    #content-wrapper {
        margin-left: 300px;
    }

    #footer {
        margin-left: 300px;
    }

    body.hide-sidedrawer #header {
        left: 0;
    }

    body.hide-sidedrawer #sidedrawer {
        transform: translate(0px);
    }

    body.hide-sidedrawer #content-wrapper {
        margin-left: 0;
    }

    body.hide-sidedrawer #footer {
        margin-left: 0;
    }
}

/**
 * Toggle Side drawer
 */
#sidedrawer.active {
    transform: translate(300px);
}

/**
 * Header CSS
 */
.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}

/**
 * Footer CSS
 */
#footer {
    background-color: #730007;
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

/**
 * Side drawer CSS
 */
#sidedrawer-brand {
    padding-left: 20px;
}

#sidedrawer ul {
    list-style: none;
}

#sidedrawer > ul {
    padding-left: 0;
}

#sidedrawer > ul > li:first-child {
    padding-top: 15px;
}

#sidedrawer strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}

#sidedrawer strong:hover {
    background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
    padding: 6px 0;
}

.mui-appbar {
    background-color: #730007;
    color: #fff;
}

.icon-menu {
    content: "\e603";
}

* {
    font-family: Arial, sans-serif;
}

.mui-caret {
    margin-top: 6px;
}

#mui-caret {
    margin-top: 0px;
}

.modal{
    margin: 10px auto auto auto;
}